# Exclude linux executable
debug/*main*
debug/*asset*

# Exclude cl debug files
debug/win32*
debug/*.obj
debug/vc140.pdb
debug/.vs/

# Exclude sample data folder
data
*.mp4
*mkv
*raw

# Exclude editor folders
.idea/
.vscode/